* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5eadf;
}

.logo {
  width: 7rem;
  margin-left: 4rem;
  margin-top: 1rem;
}

/* Front page design */
.main-container {
  display: flex;
  justify-content: center;
  height: 70vh;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: -100px;
}
.studiotitle {
  font-size: 7.5rem;
  color: #555252;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #555252;
  margin-bottom: -6.5rem;
}
.gruppTitle {
  font-size: 7.5rem;
  color: #555252;
}

.inner-container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(343deg, rgb(241, 210, 180) 0%, rgba(243, 223, 209, 0) 100%);
  height: 80%;
  width: 70%;
}

.mid-container {
  overflow: visible;
  position: absolute;
  top: 3%;
  left: 45%;
}
.frontPicture {
  height: 150%;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
  position: relative;
  left: 100px;
}

a {
  font-size: 3rem;
  text-decoration: none;
  color: #555252;
  cursor: pointer;
  margin-bottom: 0.7rem;
}
a:hover {
  border-bottom: #555252 0.1em solid;
}

footer {
  border-top: 1px solid #555252;
  display: flex;
  justify-content: space-around;
  height: 20vh;
  padding: 0 7rem;
}
.leftFoot {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem 10rem;
  text-align: center;
}
.socialIcons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.socialIcons img {
  width: 3rem;
}
.rightFoot {
  width: 50%;
  padding: 2rem 10rem;
}

.upper {
  margin-bottom: 3rem;
}
.lower {
  display: flex;
  justify-content: space-between;
}
