* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5eadf;
}

.logo {
  width: 7rem;
  margin-left: 4rem;
  margin-top: 1rem;
}

/* Front page design */
.main-container {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.studiotitle {
  font-size: 7rem;
  color: black;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.gruppTitle {
  font-size: 7rem;
}

.inner-container {
  display: flex;
  background: linear-gradient(343deg, rgba(241, 210, 180, 1) 0%, rgba(243, 223, 209, 1) 100%);
}
.frontPicture {
  width: 70%%;
}

.right-container {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
}
